<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleName</key><string>MusicSign</string>
  <key>CFBundleDisplayName</key><string>MusicSign</string>
  <key>CFBundleIdentifier</key><string>com.fufu.musicsign</string>
  <key>CFBundleVersion</key><string>1</string>
  <key>CFBundleShortVersionString</key><string>0.0.1</string>
  <key>CFBundleExecutable</key><string>MusicSign</string>
  <key>CFBundlePackageType</key><string>APPL</string>
  <key>CFBundleInfoDictionaryVersion</key><string>6.0</string>
  <key>LSMinimumSystemVersion</key><string>14.0</string>
  <key>LSUIElement</key><true/>
  <key>NSAppleEventsUsageDescription</key><string>读取当前播放的歌曲信息。</string>
  <key>NSAppleMusicUsageDescription</key><string>读取正在播放的歌曲信息。</string>
  <key>NSWebKitJavaScriptEnabled</key><true/>
</dict>
</plist>
